<!--------------------------------------------------------------------------------------------------------------------->
<!-- Script | 403.html
<!-- Author | Jonathan Cox
<!-- Date   | 18 / 3 / 18
<!--------------------------------------------------------------------------------------------------------------------->
{% extends "layout.html" %}
{% block content %}
    <h1>403</h1>
    <p>Cheaky Beaky Shouldnt Be Playing Here</p>
    <a class="btn btn-info" href="{{ url_for('home') }}">Home</a>
{% endblock content %}