<!--------------------------------------------------------------------------------------------------------------------->
<!-- Script | 500.html
<!-- Author | Jonathan Cox
<!-- Date   | 18 / 3 / 18
<!--------------------------------------------------------------------------------------------------------------------->
{% extends "layout.html" %}
{% block content %}
    <h1>500</h1>
    <p>Now how have you done this?</p>
    <a class="btn btn-info" href="{{ url_for('home') }}">Home</a>
{% endblock content %}