<!--------------------------------------------------------------------------------------------------------------------->
<!-- Script | about.html
<!-- Author | Jonathan Cox
<!-- Date   | 18 / 3 / 18
<!--------------------------------------------------------------------------------------------------------------------->
{% extends "layout.html" %}
{% block content %}
    <h2>Option 4 - Data Display and Search</h2>
    <p>Create a catalogue (like encyclopedia) of data on adoptable pets (name, description, location,
    etc.) where one can browse and search the dataset. You can start with this dataset, modify it, or
    use another dataset with similar fields.</p>
    <ol><li>Example search queries you'll want to be able to handle:
    <ul><li>all dogs

    <li>by pet's name
    <li>female cats with tabby colouring</ul></li>
    <li>Add search autocomplete</li>
    <li>Bonus points for making it responsive and work well on small screens (phone, tablets)
    and with touch interactions.</li>
    <li>Extra bonus points if you add animal images to the catalogue.</li></ol>

    <a class="btn btn-info" href="https://docs.google.com/spreadsheets/d/1AIRtFr5rwZNALvOXQuouEqm-gsGU0zCAdtpna9Qx9Lw/edit#gid=1221594390">Dataset</a>
{% endblock content %}

