<!--------------------------------------------------------------------------------------------------------------------->
<!-- Script | user.html
<!-- Author | Jonathan Cox
<!-- Date   | 18 / 3 / 18
<!--------------------------------------------------------------------------------------------------------------------->
{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    <div class="row">
    {% for post in posts.items %}
    <div class="column" style="margin:10px; width:550px">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.img_file) }}">
            </img>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date.strftime('%d-%m-%Y') }}</small>
                </div>
                <div class="article-metadata">
                    <h4 class="float-sm-right mr-2 mt-2">{{ post.animal_type }}</h4>
                    <h2><a class="article-title mr-2" href="{{ url_for('post', post_id=post.id ) }}">{{ post.animal_name }}</a></h2>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <div style="width:400px; hight:100px">
                    <img class="img float" style="display: block; max-width:450px; max-height:100px; margin-left: auto; margin-right: auto; width: auto; height: 100px" src="{{ url_for('static', filename='images/' + post.animal_pic) }}"></img>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
    </div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            |
        {% endif %}
    {% endfor %}
{% endblock content %}